*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-color{
    background-color: rgba(18, 17, 48, 0.568);
}

.color{
    background-color: #CAD9E1;

}

.grupos{
    background-color: palevioletred;
    margin-right: 20px;
}

.fondo-img{
    background-image: url(Imagenes/BannerOk.jpg);
    background-size: cover;
}

.img-banner{
    max-width: 100%;
    max-height: 100%;
}

.grupo{
    margin-bottom: 200px;
    padding: 2px;
}

.titulo-grupo{
    font-size: 20px;
    font-weight: bold;
    color: #0b1920;
}

.div-equipo{
    background-color: #d4e3eb;
    margin-top: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;

}

.img-grupo{
    width: 40px;
    height: 30px;
}

.nombre-equipo{
    font-size: 18px;
    color: #0b1920;
    padding-left: 22px;
}

/*Media querys*/

@media (max-width: 768px) { 
    .color{
        background-color: rgba(18, 17, 48, 0.308);
    }
}